{% extends 'search/layout.html' %}
{% block content %}
<body>
 <h1 style="font-weight:bolder;">Vitamin B3 Food Source</h1>

 {% for animal in animal %}
 <ul class="list" style="text-align: center; margin-left: 320px;">
    <li style="text-align: center; border: 2px solid black; width: 650px; height: 10px; padding:40px; list-style-type: none; font-weight: bolder;">
       <a href="#" style="font-size: 35px; font-weight: bolder;">{{ animal.animallabel }}</a>
    </li>
    <br>
</ul>
 {% endfor %}

 {% for plant in plant %}
 <ul class="list" style="text-align: center; margin-left: 320px;">
    <li style="text-align: center; border: 2px solid black; width: 650px; height: 10px; padding:40px; list-style-type: none; font-weight: bolder;">
       <a href="#" style="font-size: 35px; font-weight: bolder;">{{ plant.plantlabel }}</a>
    </li>
    <br>
</ul>
{% endfor %}
</body>
{% endblock %}